#mune {
    position: fixed;

    .rolls {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 400px;

        button {
            width: 128px;
        }
    }

    hr {
        border-color: rgba(255, 255, 255, 0.5);
    }

    .info {
        .intervention {
            display: flex;
            justify-content: space-between;
        }
    }

    .highlight {
        color: white;
        background-color: #FF7436;
        border-color: #B75226;
    }

    a[data-action] {
        color: #ff6400;
    }
}

#mune-help {
    .mune-help {
        height: 100%;
    }

    .window-content {
        overflow: hidden;
    }

    .sheet-navigation {
        height: 40px;
        border-bottom: 1px solid darkred;
    }

    section.content {
        height: calc(100% - 40px);
        overflow-y: auto;
    }

    table {
        th, td {
            border-right: 1px solid black;
            padding: 4px;
        }

        th {
            border-bottom: 1px solid gray;
        }

        th:first-child, td:first-child {
            border-left: 1px solid black;
        }
    }
}
